body {
  background: linear-gradient(
    -45deg,
    #ff9a9e,
    #fad0c4,
    #fad0c4,
    #fbc2eb,
    #a6c1ee,
    #fbc2eb,
    #a1c4fd,
    #a1c4fd
  );
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.XT_256 {
  font-family: monospace;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.XT_256 h1 {
  font: 500;

  background: linear-gradient(
    -45deg,
    #ff9a9e,
    #fad0c4,
    #fad0c4,
    #fbc2eb,
    #a6c1ee,
    #fbc2eb,
    #a1c4fd,
    #a1c4fd
  );
  animation: gradientAnimation 15s ease infinite;

  color: #000000;
  padding: 4px;
  border-radius: 22px;
}
.XT_256 span {
  margin: 0;
  font-size: 22px;
}
.XT_257 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.XT_257 input {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
  margin-bottom: 12px;
}
.XT_257 textarea {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
  margin-bottom: 12px;
}

.XT_257 button {
  border-radius: 8px;
  padding: 8px;
  width: 50%;
  color: #ffffff;
  background: #000;
  font-size: 14px;
  font: 800;
}

.XT_258 {
  background: #000;
  border-radius: 12px;
  overflow-y: auto;
  max-height: 300px;
}

.XT_258 p {
  padding: 12px;
  color: #ffffff;
  font: 700;
  font-size: medium;
}

.XT_258::-webkit-scrollbar {
  width: 8px;
}

.XT_258::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 8px;
}
